@charset "UTF-8";
.page-content {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.form-v10-content {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.form-v10-content .form-detail {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-v10-content .form-detail .form-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.form-v10-content .form-detail .form-right {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-v10-content .form-detail .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  gap: 1rem;
}

.form-v10-content .form-detail .form-row {
  position: relative;
  margin-bottom: 24px;
  padding-right: 20px;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {
  width: 50%;
  padding: 0 12px 0 60px;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {
  width: 50%;
  /* padding: 0 50px 0 12px; */
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {
  width: 73%;
  padding: 0 12px 0 60px;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {
  width: 50%;
  padding: 0 50px 0 12px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {
  width: 50%;
  padding: 0 12px 0 60px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
  width: 100%;
  padding: 0 50px 0 12px;
}

.form-v10-content .form-detail input:not([type='checkbox']) {
  width: 100%;
  padding: 0 15px 31px 0;
  border: 1px solid transparent;
  background: transparent;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

input[type='checkbox'] {
  -webkit-transform: translate(-32px, 28px);
          transform: translate(-32px, 28px);
}

.form-v10-content .form-detail .form-left input {
  color: #000;
}

.form-v10-content .form-detail .form-right input {
  color: black;
}

.form-v10-content .form-detail .form-left input,
.form-v10-content .form-detail .form-left select {
  border-bottom: 1px solid black;
}

.form-v10-content .form-detail .newsletter input {
  border-bottom: 1px solid white;
}

.form-v10-content .form-detail .form-right input,
.form-v10-content .form-detail .form-right select {
  border-bottom: 1px solid;
  border-bottom-color: rgba(8, 8, 8, 0.3);
}

.form-v10-content .form-detail .form-checkbox {
  margin-top: 66px;
  /* padding: 0 50px 0 60px; */
  position: relative;
}

.form-v10-content .form-detail .form-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: 1px solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.form-v10-content .form-detail .form-checkbox p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Facundo-regular";
}

.form-v10-content .form-detail .form-checkbox .text {
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}

.form-v10-content .form-detail .form-right .form-row-last {
  padding-left: 60px;
  margin: 20px 0 10px;
}

.form-v10-content .form-detail .form-left .register {
  background: #fff;
  width: 305px;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 2rem;
  font-family: "Facundo-black";
}

.form-v10-content .form-detail .form-right .register:hover {
  /* background: #ccc; */
}

.labe {
  /* Chrome/Opera/Safari */
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Facundo-semibold";
}

.form-v10-content .newsletter label {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Facundo-semibold";
}

.form-v10-content .form-detail .newsletter .input-detail {
  padding-bottom: 31px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .form-v10-content {
    margin: 95px 20px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .form-v10-content .form-detail .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
  }
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
    width: auto;
    padding: 0 50px 0 60px;
  }
  .form-v10-content .form-detail .select-btn,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
    right: 15%;
  }
}

@media screen and (max-width: 767px) {
  .form-v10-content .form-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
  }
  .form-v10-content .form-detail .form-right {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .form-v10-content .form-detail .form-left {
    padding-bottom: 50px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .form-v10-content .form-detail .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
  }
  .form-v10-content .form-detail .form-row,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
    width: auto;
    padding: 0 30px;
  }
  .form-v10-content .form-detail .newsletter .form-group .form-row.form-row-1 {
    padding: 0 73px !important;
  }
  .form-v10-content .form-detail .select-btn,
  .form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
  .form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
    right: 15%;
  }
  .form-v10-content .form-detail h2 {
    padding: 33px 30px 0px 30px;
  }
  .form-v10-content .form-detail .form-checkbox {
    padding: 0 30px;
  }
  .form-v10-content .form-detail .form-checkbox .checkmark {
    left: 30px;
  }
  .form-v10-content .form-detail .form-right .form-row-last {
    padding-left: 0;
    text-align: center;
    margin: 44px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-v10-content .form-detail .form-left .register {
    width: 272px !important;
    font-size: 1.8em !important;
    margin-left: 0;
  }
  .form-v10-content .form-detail .newsletter .register {
    padding-left: 5.4rem;
  }
}

.form-row-la {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-row-la p {
  font-size: 1em;
  font-family: "Facundo-black";
}

#your_email {
  margin-top: 4.5rem;
}

textarea {
  margin-top: 1.8rem !important;
  border: 0 !important;
  border-bottom: 1px solid black !important;
  border-top: 1px solid !important;
  outline: none !important;
  height: 154px;
}

.label-nachricht {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.pflichtfelder {
  margin-top: 1.8rem;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Facundo-black";
  src: url("../Fonts/Latinotype-Facundo-Black.otf") format("opentype");
}

@font-face {
  font-family: "Facundo-regular";
  src: url("../Fonts/Latinotype Facundo-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Facundo-semibold";
  src: url("../Fonts/Latinotype Facundo-SemiBold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Hokime3-light";
  src: url("/Fonts/HOKIME3-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Hokime3-Bold";
  src: url("/Fonts/HOKIME3-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Hokime3";
  src: url("/Fonts/HOKIME3.otf") format("opentype");
}

.banner {
  height: 700px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-size: contain;
  width: 100%;
}

.banner h1 {
  position: absolute;
  top: 80%;
  right: 28%;
  color: white;
  font-family: "Mark Pro bold", sans-serif;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-brand img {
  width: 279px;
  position: absolute;
  right: 15rem;
  top: 4rem;
}

.navbar-light .navbar-brand {
  color: #f8f9fa;
}

header {
  background-color: black;
  height: 800px;
}

.tick {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8vmin;
}

.container-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown {
  margin-top: 2rem;
}

.countdown h2 {
  text-transform: uppercase;
  font-family: "Facundo-black";
  letter-spacing: 3px;
  line-height: 1.4;
}

.tick-group {
  margin: 0 24px;
}

.tick-label {
  font-size: 1.4vmin;
  text-transform: uppercase;
  display: block !important;
  text-align: center;
  padding: 3.2rem 0 0;
  font-family: "Facundo-black";
  letter-spacing: 3px;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/* section produktiv lebendig */
.produktive {
  background-color: black;
  height: 500px;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 6rem;
  height: 1040px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.produktive h2 {
  position: absolute;
  font-family: "Latinotype";
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.4;
  letter-spacing: 3px;
}

/* Texte Bloc */
.text_description {
  font-family: "Facundo-regular";
  text-align: center;
  line-height: 1.6;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.text_description strong {
  font-family: "Facundo-black";
}

.bloc-mietinteresse h1 {
  font-family: "Facundo-black";
  font-size: 6em;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 3px;
}

.bloc-mietinteresse .flex-container-newsletter p {
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Facundo-black";
  letter-spacing: 3px;
}

.mietinteresse .form-v10-content {
  width: 785px;
  width: 774px;
}

.mietinteresse textarea {
  margin-top: 1rem !important;
  border: 0 !important;
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
  outline: none !important;
  height: 91px;
  margin-left: 3.7rem;
  width: 700px;
}

.mietinteresse .form-textaera label {
  margin-left: 4rem;
  font-family: "Facundo-semibold";
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mietinteresse .form-v10-content .form-detail .form-checkbox {
  margin-top: 6px;
  padding: 0 50px 0 60px;
  position: relative;
}

.mietinteresse .form-v10-content .form-detail .form-checkbox .checkmark {
  left: 60px;
}

.mietinteresse .form-v10-content .form-detail .form-checkbox p {
  margin-left: 18px;
  width: 700px;
}

.mietinteresse input[type=submit] {
  border: none !important;
}

.mietinteresse .mieten {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

.flex-form-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

.image-einladung img {
  height: 700px;
}

.formular-newsletter {
  background-color: black;
}

.formular-newsletter h1 {
  color: white;
  font-family: "Facundo-black";
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 3px;
}

.formular-newsletter p {
  font-size: 1.24em;
  letter-spacing: 3px;
  font-family: "Facundo-regular";
  color: white;
}

.formular-newsletter .form-row-la {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.formular-newsletter .form-v10-content .form-detail .form-left .register {
  background: none;
  color: #f0f0f0;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-left: 0;
  -webkit-transform: translateY(22px);
          transform: translateY(22px);
}

.formular-newsletter .form-v10-content {
  margin: 5rem auto;
}

.flex-container,
.flex-container-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.no-padding {
  padding-top: 0;
}

.form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-control {
  display: block;
  padding: 1.175rem 0rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none !important;
  border-radius: 0;
  border: none !important;
  border-bottom: 1px solid #080808 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.last-row {
  -webkit-transform: translate(0px, -89px);
          transform: translate(0px, -89px);
}

.form-check {
  -webkit-transform: translateY(49px) !important;
          transform: translateY(49px) !important;
}

.form-check-label {
  font-size: 18px;
}

.form-check-input[type=checkbox] {
  border-radius: 0 !important;
}

/* footer */
.block-footer {
  background-color: fff;
  color: black;
  padding: 41px;
  margin: 0 auto;
  color: white;
}

.block-footer .block-footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1.7rem;
  color: black;
}

.block-footer .block-footer-flex h6 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Facundo-semibold";
}

.block-footer .container-footer {
  width: 1250px;
  margin: 0 auto;
}

.block-footer ul li {
  list-style: none;
}

.block-footer ul a {
  color: black !important;
  text-decoration: none;
}

.block-footer li,
.block-footer ul {
  padding-left: 0 !important;
}

.block-footer .footer-logo {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  margin-top: 3rem;
}

.block-footer .gruppe p {
  line-height: 1.7;
  font-family: "Facundo-regular";
  font-size: 1em;
}

.block-footer .block-kontakt {
  font-size: 1em;
}

.block-footer .block-kontakt p {
  font-family: "Facundo-black";
}

.block-footer .block-kontakt ul {
  font-family: "Facundo-regular";
}

.block-footer .block-kontakt ul li {
  line-height: 1.7;
}

.block-footer .block-kontakt ul li span {
  font-family: "Facundo-black";
}

.block-footer .block-kontakt span {
  font-family: "Facundo-regular";
}

.block-footer .block-Büro p {
  font-family: "Facundo-regular";
  font-size: 1em;
  line-height: 1.7;
}

.block-footer .block-Rechtliches {
  font-family: "Facundo-regular";
  font-size: 1em;
  line-height: 1.7;
}

.block-footer .flex_grow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.block-footer .space-padding {
  margin-top: 2rem;
}

.block-footer .block-social_media {
  margin-top: 7rem;
}

.block-footer .block-social_media .footer-icon {
  width: 61px;
  height: 68px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-footer .block-social_media a {
  text-decoration: none;
}

@media (max-width: 767px) {
  section {
    overflow: hidden;
  }
  .banner {
    height: 400px;
  }
  .navbar-brand img {
    width: 199px;
    right: 17px;
    top: 2.5rem;
  }
  .container-countdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .tick-label {
    letter-spacing: 1px;
    font-size: 28px;
  }
  .produktive {
    height: 500px;
  }
  .bloc-mietinteresse h1 {
    font-size: 3em;
  }
  .bloc-mietinteresse .flex-container-newsletter p {
    font-size: 1.2em;
  }
  .flex-form-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .form-v10-content {
    margin: 0 20px;
  }
  .formular-newsletter h1 {
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
  }
  .formular-newsletter p {
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }
  .block-footer .block-footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding: 0;
  }
  .banner {
    height: 234px;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-size: contain;
  }
  .navbar-brand img {
    width: 90px;
    right: 0.5rem;
    top: 1.5rem;
  }
  .countdown h2 {
    font-size: 1.3em;
    letter-spacing: 2px;
  }
  .produktive {
    margin-top: 1rem;
    height: 300px;
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .tick-label {
    padding-top: 1rem;
  }
  .tick-label {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .bloc-mietinteresse h1 {
    font-size: 2em;
  }
  .bloc-mietinteresse .flex-container-newsletter p {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .flex-form-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .image-einladung img {
    height: 400px;
    padding: 2em;
  }
  .form-v10-content {
    margin: 0px 20px;
  }
  .mietinteresse .form-v10-content {
    width: 400px;
  }
  .mietinteresse textarea {
    margin-left: 1.7rem;
    width: 347px;
  }
  .mietinteresse .form-textaera label {
    margin-left: 2rem;
  }
  .form-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    font-size: 8px;
  }
  .mietinteresse .form-v10-content .form-detail .form-checkbox {
    padding: 0;
  }
  .mietinteresse .form-v10-content .form-detail .form-checkbox p {
    margin-left: 50px;
    width: 314px;
  }
  .mietinteresse .form-v10-content .form-detail .form-checkbox .checkmark {
    left: 28px;
  }
  .container-countdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .form-v10-content .form-detail .form-checkbox input {
    display: none;
  }
  .pflichtfelder {
    margin-top: 0.8rem;
  }
  .form-row-la p {
    font-size: 10px;
    -webkit-transform: translateX(-39px);
            transform: translateX(-39px);
  }
  .formular-newsletter h1 {
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .formular-newsletter p {
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .flex-container,
  .flex-container-newsletter {
    padding-top: 2rem;
  }
  .formular-newsletter .form-v10-content {
    margin: 2rem auto;
  }
  .form-row-1 {
    padding: 0 50px;
  }
  .formular-newsletter .form-group {
    padding: 0 15px;
  }
  .block-footer .block-footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    gap: 1rem;
    padding-bottom: 0;
  }
  .block-footer .footer-logo {
    margin-top: 1rem;
  }
  .block-footer .block-footer-flex h6 {
    font-size: 1.2em;
  }
  .block-footer {
    padding-top: 3rem;
    padding: 0;
    margin: 0 auto;
    width: 300px;
  }
  .block-footer p {
    margin-bottom: 0;
  }
  .block-footer .block-social_media {
    margin-top: 0;
  }
  dl,
  ol,
  ul {
    margin-bottom: 0;
  }
  .block-footer .container-footer {
    padding-top: 2rem;
  }
  section {
    overflow: hidden;
  }
}
/*# sourceMappingURL=style copy.css.map */